@font-face {
  font-family: "PNU";
  src: url("../font/PNU-Bold.woff") format("woff2"),
    url("../font/PNU-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Janna LT";
  src: url("../font/JannaLT-Bold.woff2") format("woff2"),
    url("../font/JannaLT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Janna LT" !important;
}
h1,
h2,
h3 {
  font-size: 15px !important;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #658aaf !important;
  width: 100px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #4472c4;
}
.table tr:nth-child(odd) {
  background: #d9e2f3;
}
footer .txt p {
  font-size: 15px;
  font-weight: 600;
}
footer .txt p:nth-child(1) {
  font-size: 13px;
}
.txt_1 {
  padding-left: 60px;
  font-size: 20px;
}
.bg {
  background-image: url(../img/EMS-open-source-logo-copy.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 31%;
}
